<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vui Chơi Và Học Tập</title>

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

  <style>
    body {
      background: linear-gradient(180deg, #ffdce5, #ffe9f1);
      font-family: 'Quicksand', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      text-align: center;
      overflow: hidden;
    }

    h1 {
      font-family: 'Pacifico', cursive;
      col
